/* BookingForm.css */
form {
    display: grid;
    max-width: 500px;
    gap: 20px;
    margin-bottom: 2.5rem;
    font-family: Karla;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    font-family: Karla;
    background-color: #f4ce14;
    color: #333;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #333;
    color: #f4ce14;
  }
  