.hero {
    height: 90%;
    max-height: 377px;
    background-color: #495E57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 900px;
    height: 90%;
}

.hero-left {
    width: 40%;
    max-width: 399px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    gap: 2.5rem;
    padding: 1rem 0;
}

.header-info > h1 {
    font-family: "Markazi Text";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #F4CE14;
}

.header-info > h2 {
    font-family: "Markazi Text";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #EDEFEE;
    margin-bottom: 1.5rem;
}

.header-info > p {
    /* width: 262px;
    height: 79px; */
    font-family: Karla;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #EDEFEE;
}

.hero-right {
    width: 40%;
    max-width: 375px;
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 20px;
}

.hero-right > img {
    width: 375px;
    margin: -110px 0;
}

@media screen and (max-width: 768px) {
    .hero {
        background-image: url("../assets/images/restauranfood.jpg");
        background-position: center;
        background-size: 100% auto;
    }

    .hero-right {
        display: none;
    }

    .hero-left {
        width: 100%;
        padding: 1rem;
        background-color: rgba(51, 51, 51, 0.7);
    }
}