.highlights {
    /* margin-bottom: 4.8rem; */
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

.highlights-content {
    width: 100%;
    padding: 2rem 0;
}

.highlights-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.highlights-header > h1 {
    /* Title */
    font-family: "Markazi Text";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #333333;
}

.highlights-menu {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    overflow: scroll;
    overflow-y: hidden;
}

@media screen and (max-width: 768px) {
    .highlights-menu {
        padding: 0 0.7rem;
    }
}