.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 265px;
    height: 439px;
    margin: 0 0.7rem;
}

.menu-card-content {
    flex-grow: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.menu-card-header {
    display: flex;
    justify-content: space-between;
}

.menu-card-dish-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Card_Title */
    font-family: Karla;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #333333;
}

.menu-card-dish-price {
    color: #EE9972;

    /* Highlight_Text_Regular */
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu-card-dish-details {
    color: #495E57;
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-card-order {
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #333333;
}

.menu-card-image {
    width: 264.667px;
    height: 185.258px;
    border-radius: 1rem 1rem 0px 0px;
    overflow: hidden;
}

.menu-card-image > img {
    width: 100%;
    height: 185px;
}