.review-card {
    width: 15rem;
    height: 10rem;
    min-width: 220px;
    min-height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 15px;
    border-radius: 1rem;
    background: #FFF;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    /* border: 3px solid red; */
}

.review-card-profile {
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;
    align-items: center;
    /* border: 3px solid black; */

}

.review-card-image {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    overflow: hidden;
    /* border: 3px solid green; */

}

.review-card-image > img {
    width: 38px;
    margin-left: -5px;
    /* border: 3px solid blue; */

}

.review-card-name {
    display: flex;
    flex-direction: column;
    /* border: 3px solid yellow; */

}

.review-card-name b {
    /* border: 3px solid orange; */
    color: #333333;
}

.review-card-name > p {
    color: #6E6F6E;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* border: 3px solid purple; */

}

.review-card-review {
    color: #6E6F6E;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border: 3px solid aqua; */

}