.testimonials {
    background-color: #FDF4EE;
    /* height: 70%; */
    /* padding: 2rem; */
    /* border: 3px solid black; */
    padding-bottom: 2rem;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container > h1 {
    font-family: "Markazi Text";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #333333;
    text-align: center;
    margin-bottom: 1.5rem;
}

.reviews {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;
    overflow: scroll;
    overflow-y: hidden;
}
