/* UnderConstruction.css */
.container-construction {
    width: 60%;
    max-width: 900px;
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 2rem;
    background-color: #FDF4EE;
    border-radius: 0.6rem;
}

.container-construction img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.container-construction h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container-construction p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .container-construction {
        width: 90%;
    }
}